@page "/"
@using Tribulus.MarketPlace.Permissions
@using Tribulus.MarketPlace.Products
@inherits MarketPlaceComponentBase


<Card>
    <CardHeader>
        @* ************************* PAGE HEADER ************************* *@
        <h2>@L["Products"]</h2>
    </CardHeader>
    <CardBody>
        @* ************************* SEARCH ************************* *@
        @*<Form>*@
           @* <div id="FilterSection" class="row mt-3">

                <Column ColumnSize="ColumnSize.Is12">
                    <Field>
                        <FieldLabel>@L["Name"]</FieldLabel>
                        <TextEdit TValue="string" KeyPress="OnKeyPress" @bind-Text="@Filter.Name" />
                    </Field>
                </Column>

            </div>*@
        @*</Form>*@
        @* ************************* DATA GRID ************************* *@
       @* <DataGrid TItem="ProductDto"
                  Data="ProductList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>

                <DataGridColumn TItem="ProductDto"
                                Field="Name"
                                Caption="@L["Name"]">
                </DataGridColumn>

                <DataGridColumn TItem="ProductDto"
                                Field="Description"
                                Caption="@L["Description"]">
                </DataGridColumn>

                <DataGridColumn TItem="ProductDto"
                                Field="Price"
                                Caption="@L["Price"]">
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>*@

    </CardBody>
</Card>
